body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#task-input {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
}

#add-task-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #3e8e41;
}

#task-list {
    color: #0f0e0e;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: style b;;
    padding: 0;
    margin: 20px 0;
}

.task {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task:last-child {
    border-bottom: none;
}

.task.completed {
    text-decoration: line-through;
    color: #e0dd1c;
}

.task button {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.task button:hover {
    background-color: #f0f0f0;
}
